* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

/** btn **/
.btn {
	display: block;
	text-align: center;
	border-radius: 12px; 
}
.blue_btn{
	background-color: #1070bc;
	color: #fff;
	font-size: 20px;
}

/** footer **/
footer.footer {
	position: fixed;
	background: #fff;
	z-index: 100;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 40px;
	line-height: 40px; 
	text-align: center;
	font-size: 16px;
	color: #666666;
}