/** login **/
.login_bg {
	width: 100%;
	height: 10rem;
	max-height: 400px;
	background: url('../images/loginBg.png') no-repeat;
	background-size: cover;
	border-bottom: 1px solid #c6c6c6;
}
.login_text{
	width: 90%;
	padding: 0 5%;
	border-bottom: 1px solid #c6c6c6;
}
.login_text div.login_input_wrap:nth-of-type(1) {
	border-bottom: 1px solid #c6c6c6;
}
.login_input_wrap{
	height: 50px;
	width: 100%;
	display: flex;
	display: -webkit-flex;
	background-color: #f8f8f6;
}
.login_input_wrap .icon {
	display: block;
	width: 14%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.login_input_wrap input {
	border: none;
	font-size: 18px;
	display: block;
	height: 100%;
	line-height: 50px;
	padding-left: 6%;
	width: 80%;
}
.login_input_wrap .icon_user {
	background-image: url('../images/icons/user.png');
}
.login_input_wrap .icon_lock {
	background-image: url('../images/icons/lock.png');
}
.login_main .btn {
	width: 90%;
	height: 50px;
	line-height: 50px;
	margin: 24px 0 0 5%;
}
.login_register{
	margin-top: 16px;
	width: 90%;
	padding: 0 5%;
}
.login_register a {
	float: right;
	color: #1070bc;
	text-decoration: none;
	font-size: 18px;
}